name: Pre-Release lib-version

on:
  push:
    branches-ignore:
      - main
      - master
  pull_request:
    types: [opened, synchronize, reopened]
    branches-ignore:
      - main
      - master

jobs:
  prerelease:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          server-id: github
          server-username: GITHUB_ACTOR
          server-password: ${{ secrets.PAT_FOR_PUSH }}

      - name: Calculate Pre-Release Version
        id: version
        run: |
          BRANCH_NAME=$(echo ${{ github.ref_name }} | tr / - | tr _ - | tr '[:upper:]' '[:lower:]')
          COMMIT_SHORT_SHA=${GITHUB_SHA::7}
          BASE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout | sed 's/-SNAPSHOT$//')
          PRE_RELEASE_VERSION="${BASE_VERSION}-${BRANCH_NAME}-${COMMIT_SHORT_SHA}"
          echo "PRE_RELEASE_VERSION=$PRE_RELEASE_VERSION" >> $GITHUB_ENV

      - name: Set Pre-Release project version
        run: mvn versions:set -DnewVersion=${{ env.PRE_RELEASE_VERSION }}

      - name: Build and Deploy Pre-Release Package
        run: mvn deploy