name: Pre-Release lib-version

on:
  push:
    branches-ignore:
      - main
      - master
  pull_request:
    types: [opened, synchronize, reopened]
    branches-ignore:
      - main
      - master

jobs:
  prerelease:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          server-id: github
          server-username: ${{ github.actor }}
          server-password: ${{ secrets.GITHUB_TOKEN }}

      - name: Calculate Pre-Release Version
        id: version
        run: |
          TIMESTAMP=$(date +%Y%m%d-%H%M%S) 
          BRANCH_NAME=$(echo ${{ github.ref_name }} | tr / - | tr _ - | tr '[:upper:]' '[:lower:]')
          BASE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout | sed 's/-SNAPSHOT$//')
          PRE_RELEASE_VERSION="${BASE_VERSION}-${BRANCH_NAME}-${TIMESTAMP}"
          echo "PRE_RELEASE_VERSION=$PRE_RELEASE_VERSION" >> $GITHUB_ENV

      - name: Set Pre-Release project version
        run: mvn versions:set -DnewVersion=${{ env.PRE_RELEASE_VERSION }}

      - name: Build and Deploy Pre-Release Package
        run: mvn deploy
